export default [
{% for module in modules -%}
  {
    path: '{{base}}{{module.path}}',
    routes: [
      {% for route in module.routes -%}
      {
        path: '{{base}}{{module.path}}/{{route}}/list',
        component: './{{module.path}}/{{route}}',
      },
      {% endfor %}
      {
        component: './404',
      },
    ],
  },
{% endfor %}
  {
    path: '/',
    redirect: '/home',
  },
  {
    component: './404',
  },
];
